<% content_for :cover do %>
  <div class="cover">
    <div class="cover-innner">
      <div class="cover-contents">
        <h1>2019 RUGBY WORLD CUP</h1>
      </div>
    </div>
  </div>
<% end %>

<p>開催地一覧</p>
<br>
<% @venues.each do |venue| %>
  <li>
    <%= link_to venue.name, venue_path(venue) %> 
  </li>
<% end %>
