<% content_for :cover do %>
  <div class="cover">
    <div class="cover-innner">
      <div class="cover-contents">
        <h1>2019 RUGBY WORLD CUP</h1>
      </div>
    </div>
  </div>
<% end %>



<% @countries_with_pool.each do |pool, countres| %>
  <p><%= pool %></p>
  <ul>
    <% countres.each do |country| %>
      <li>
        <%= link_to country.name, country_path(country) %>
      </li>
    <% end %>
  </ul>
<% end %>
